.card { 
  border-width: 0 !important;
}

.sidebar {
  background-color: $secondary;
  padding: 1rem;
  border-radius: 0.25rem;
}

.girafe {
  max-width: 100%;
  max-height: 100%;
  margin: 0 !important;
}



.girafe_container_std {
  margin: 0 !important;
  max-width: 100% !important;
  max-height: 75vh;
  transition: all 0.4s ease-in-out;
  align-items: center !important;
}



.bslib-grid {
  padding-top: 0 !important;
}